<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prescriptiontracker"
    android:versionCode="1"
    android:versionName="1.0" >
<uses-permission android:name="android.permission.NFC" />
    <uses-sdk android:minSdkVersion="16"/>
<uses-permission android:name="android.permission.INTERNET"/>
<uses-permission android:name="android.permission.GET_ACCOUNTS" />
<uses-permission android:name="android.permission.USE_CREDENTIALS" />
<uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/nfc"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true">
        
        <activity
            android:name="com.prescriptiontracker.Prescriptiontracker"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
             <action android:name="android.intent.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/mscsed.nfc"/>
                </intent-filter>
        </activity>
        
          <activity android:name="com.prescriptiontracker.PrescriptionTakenList"> </activity>
          <activity android:name="com.prescriptiontracker.PrescriptionList"> </activity>
          <activity android:name="com.prescriptiontracker.Prescriptiondetail"> </activity>
          <activity android:name="PrescriptionTakenListDetail"> </activity>
       	 <activity android:name="InstructionVideo"> </activity>
    </application>

</manifest>